<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: title" ></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h1> Tambah Persediaan </h1>
	<div class="row">
			<div class="col-md-6">
				<div class="card">
					<form th:action="@{/lab/stok/tambah}" th:object="${supply}" method="POST">
						<div class="card-body">
							<table style="width:100%">
							 <tr>
							    <th>Jenis</th>
							    <td><input class="form-control"  type="text" name="jenis"/></td>
							  </tr>
							  
							  <tr>
							    <th>Nama</th>
							    <td><input class="form-control"  type="text" name="nama"/></td>
							  </tr>
							
							  <tr>
							    <th>Jumlah</th>
							    <td><input class="form-control"  type="number" min="1" step="1" name="jumlah"/></td>
							  </tr>
							  <tr>
							    <th>Deskripsi</th>
							    <td><input class="form-control"  type="text" name="deskripsi"/></td>
							  </tr>
							  <tr>
							  	<th>Jenis Pemeriksaan</th>
							  	<td><select class="form-control" name="jenis_pemeriksaan">
							  		<option th:each="jp, iterationStatus : ${suppliesByJenisPemeriksaan}"
							  				th:value="${jp.id}" th:text="${jp.nama}">Jenis Pemeriksaan</option>
							  		<select>
							 	</td>
							 </tr>
							</table>
							<br>
							<button type="submit" class="btn btn-primary">Simpan</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>