<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Gagal</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<script type="text/javascript">
	(function() {
		setTimeout(function() {
			window.location = "/lab/pemeriksaan/permintaan";
		}, 6000); /* 1000 = 1 second*/
	})();
</script>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div class="container-fluid">
	<div class="alert alert-danger">
		<h4>Gagal!</h4>
		<p th:if="${error} == 1" th:text="'Pemeriksaan gagal diproses, tidak ada jadwal jaga untuk hari ini. Silahkan ajukan jadwal jaga.'"></p>
		<p th:text="'Anda akan dialihkan ke halaman sebelumnya dalam 6 detik....'"></p>
		</div>
	</div>
</body>
</html>