<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br><br><br><br><br><br>
	<div class="container-fluid"
		style="margin-left: 1rem; margin-top: 1rem">
		<a class="btn btn-warning" th:href="@{/lab/jadwal-jaga/}"
			th:text="'< Kembali'"></a>
		<h2 style="margin-top: 1rem">Ubah Jadwal Jaga Lab</h2>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<form th:action="@{'/lab/jadwal-jaga/ubah/'} + ${jadwalJaga.id}"
						th:object="${jadwalJaga}" method="POST">
						<input type="hidden" th:value="${jadwalJaga.id}" name="id"></input>
						<div class="card-body">
							<table style="width: 100%;">
								<tr>
									<th>Tanggal</th>
									<td><input class="form-control" type="date"
										th:value="${jadwalJaga.tanggal}" name="tanggal"
										required="required"
										th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" /></td>
								</tr>
								<tr>
									<th>Waktu Mulai</th>
									<td><input class="form-control" type="time"
										th:value="${jadwalJaga.start}" name="start"
										required="required" value="00:00:00" step=1 /></td>
								</tr>
								<tr>
									<th>Waktu Selesai</th>
									<td><input class="form-control" type="time"
										th:value="${jadwalJaga.end}" name="end" required="required"
										value="00:00:00" step=1 /></td>
								</tr>
								<tr>
									<th>Nama Staff</th>
									<td><select class="form-control" name="namaStaff"
										th:value="${jadwalJaga.namaStaff}">
											<option th:each="ls, iterationStatus : ${listStaff}"
												th:value="${ls.nama}" th:text="${ls.nama}">Pilih
												Nama Staff</option>
									</select></td>
								</tr>
							</table>
							<br>
							<button type="submit" class="btn btn-primary">Simpan
								Perubahan</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>