<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<object th:include="fragments/fragment :: title"></object>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h1>Tambah Jadwal Jaga Lab</h1>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<form th:action="@{/lab/jadwal-jaga/tambah}"
					th:object="${jadwalJaga}" method="POST">
					<div class="card-body">
						<table style="width: 100%">
							<tr>
								<th>Tanggal</th>
								<td><input class="form-control" type="date" name="tanggal" /></td>
							</tr>

							<tr>
								<th>Waktu Mulai</th>
								<td><input class="form-control" type="text" name="start" /></td>
							</tr>

							<tr>
								<th>Waktu Selesai</th>
								<td><input class="form-control" type="time" name="end" /></td>
							</tr>
							<tr>
								<th>Nama Staff</th>
								<td><select class="form-control" name="namaStaff">
										<option th:each="ls, iterationStatus : ${listStaff}"
											th:value="${ls.nama}" th:text="${ls.nama}">Nama
											Staff</option>
								</select></td>
							</tr>
						</table>
						<br>
						<button type="submit" class="btn btn-primary">Simpan</button>
					</div>
				</form>
			</div>
		</div>
	</div>


</body>
</html>