<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<object th:include="fragments/fragment :: jquery" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br><br><br><br><br><br>
	<div class="container">
		<a class="btn btn-warning" th:href="@{/lab/jadwal-jaga/}"
			th:text="'< Kembali'"></a>
		<h2 align="center" style="margin-top: 1rem">Tambah Jadwal Jaga</h2>
		<hr>

		<form th:action="@{/lab/jadwal-jaga/tambah}" th:object="${formJadwal}"
			method="POST" id="tambahJadwal">
			<div class="col-md">
				<h6 class="alert alert-danger" th:if="${error!=null}"
					th:text="${error}"></h6>
				<div class="card" style="text-align: center">

					<div class="card-body">

						<table class="table table-striped table-bordered table-sm display"
							id="jadwalJaga">
							<thead>
								<tr>
									<th>Tanggal</th>
									<th>Waktu Mulai</th>
									<th>Waktu Selesai</th>
									<th>Nama Staff</th>
									<th>Opsi</th>
								</tr>
							</thead>
							<tr th:each="nj, iterationStatus : *{jadwalColl}">
								<td style="height: 3rem"><input type="date" id="tanggal"
									class="dateInput" required="required"
									th:field="*{jadwalColl[__${iterationStatus.index}__].tanggal}"
									th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" />
								</td>
								<td style="height: 3rem"><input type="time" id="start"
									th:field="*{jadwalColl[__${iterationStatus.index}__].start}"
									required="required" step=1 value="00:00:00" /></td>
								<td style="height: 3rem"><input type="time" id="end"
									th:field="*{jadwalColl[__${iterationStatus.index}__].end}"
									required="required" step=1 value="00:00:00" /></td>

								<td style="height: 3rem"><select class="form-control"
									id="namaStaff" required="required"
									th:field="*{jadwalColl[__${iterationStatus.index}__].namaStaff}">
										<option th:each="ns : ${listStaff}" th:value="${ns.nama}"
											th:text="${ns.nama}"></option>
								</select></td>
								<td>
									<button type="submit" class="btn btn-warning"
										name="deleteEntry" th:value="${iterationStatus.index}">Hapus</button>
								</td>
							</tr>
						</table>
						<button type="submit" class="btn btn-secondary" name="addEntry"
							th:value="${formJadwal}">Tambah Jadwal Lain</button>
						<button type="submit" class="btn btn-primary" name="submitJadwal"
							style="margin-left: 3rem">Simpan Jadwal</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>