<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>

<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>
<style>
.head {
	background-color: #343a40;
	color: white;
	margin: auto;
	width: 50%;
	padding: 10px;
}
</style>
<body>
	<br>
	<div class="head">
		<h2 align="center">Selamat Datang di SiLabor RS APAP</h2>
		<p align="center">Sistem Informasi Laboratorium Rumah Sakit APAP
			v1.0</p>
	</div>
	<table width="1000">
		<br>
		<br>
		<br>
		<br>
		<tr>
			<td width="500"><img align="right"
				src="https://image.flaticon.com/icons/png/512/63/63794.png"
				width="150px" height="150px"></img></td>

			<td width="400">
				<div>
					<div th:if="${param.error}">
						<div class="alert alert-danger">
							<strong>Invalid!</strong> Username dan password tidak sesuai.
						</div>
					</div>

					<form th:action="@{/login}" method="POST">
						<div class="row">
							<label class="col-sm-3">Username:</label> <input type="text"
								name="username" class="col-sm-7 form-control input-sm">
						</div>

						<p></p>
						<div class="row">
							<label class="col-sm-3">Password:</label> <input type="password"
								class="col-sm-7 form-control input-sm" name="password">
						</div>

						<p></p>
						<label class="col-sm-8"></label>
						<button type="submit" class="btn btn-primary">Sign
							In</button>
					</form>
				</div>
			</td>
		</tr>
	</table>
</body>

<footer>
	<div style="margin-right: 19px">
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p align="right">Developed by Kelompok 6 - APAP C</p>
	</div>
</footer>

</html>