<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Sorry..</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div class="container-fluid" style="margin:150px 100px 10px 400px"><br>
		<h1>Oops :(</h1><br><br>
		<h5>Kamu bukan staf</h5>
		<h5>Kamu tidak bisa mengakses fitur ini</h5>
	</div>
</body>
</html>