<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<br><h1>Tambah Kebutuhan Reagen</h1><br>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                    
                        <form th:action="@{/lab/kebutuhan/tambah}" th:object="${reagen}" method="POST">
                           	
                           	<input type="hidden" name="status" value=1 />
                           	<input type="hidden" name="tanggal_update" th:value="${tanggal}" />
                           	
                            Nama: <br>
                            <select th:field="*{supply}" class="form-control">
                            	<option  th:each="supply : ${listsupply}" th:text="${supply.nama}" th:value="${supply.id}"/>	                          	</option>                            	
                            </select>
                            <br>
                            Jumlah: <br>
                            <input type="number" name="jumlah" min=1 class="form-control"/>
                            <br><br>                      
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</body>
</html>